a {
    color: white;
}

a:hover {
    color: aqua;
}

.navbar, .the-navbar{
    background-color: #001D13;
}

#my-name {
    font-size: 2rem;
    color: white;
    background-color: #001D13;
}

#about-link, #portfolio-link, #resume-link {
    color: whitesmoke;
    background-color: #001D13;
}

#about-link:hover, #portfolio-link:hover, #resume-link:hover {
    color: #ce8559;
}

