.portfolio-div {
    position: relative;
    min-height: 100vh;
}

.projects {
    display: inline-flex;
    flex-wrap: wrap;
}

.card {
    max-height: 25rem;
    overflow: scroll;
    box-shadow: 3px 6px 6px 6px #81736b;
}

a:link {
    text-decoration: none;
}

.project-title {
    border: 5px solid #1b3f6b;
    background-color: #1b3f6b;
    margin: 0;
    width: 100%;
    font-size: 1.3rem;
    color: black;
}

.project-images {
    max-width: 100%;
    opacity: 70%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.project-images:hover {
    opacity: 100%;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.project-desc {
    list-style-type: none;
    background-color: white;
}

.github-repo {
    color: #001D13;
}

.github-repo:hover {
    color: #2f5a8d;
}

.portfolio-intro {
    margin: 0 auto;
    text-align: center;
}

