.projects {
    display: inline-flex;
    flex-wrap: wrap;
}

.card {
    max-height: 25rem;
    overflow: scroll;
    box-shadow:#001D13;
}

a:link {
    text-decoration: none;
}

.project-title {
    border: 4px solid #4C7165;
    background-color: #001D13;
    margin: 0;
    width: 100%;
    font-size: 1.3rem;
    color: black;
}

.project-images {
    max-width: 100%;
    opacity: 70%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.project-images:hover {
    opacity: 100%;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.project-desc {
    list-style-type: none;
    background-color: white;
}

.github-repo {
    color: #001D13;
}

.github-repo:hover {
    color: #4C7165;
}

.portfolio-intro {
    margin: 0 auto;
    text-align: center;
}

