.skills-list {
    list-style-type: none;
    padding-left: 0;
}

.jobs {
    list-style-type: none;
    padding-left: 0;
}

.job-title {
    font-weight: bold;
}

.resume-intro, .experience, #headshot {
    margin: 0 auto;
}