* {
  background-color:#A0C8BB;
  color: #001D13
}

/* 
og resume color:
#6C9286

tan: #ce8559
BRIGHT SHADES:

Mint Greenish: 
#A0C8BB 

mint green but brighter:
#C7FCEB

purple: 
#AF99FF
*/


/* 
darker shades:
LIGHT BLUEISH: 
#D2FBEE

TEAL: 
#4C7165

DARK GREEN/GRAY: #001D13

PASTEL LIGHT BLUE: 
#BCE4D7


*/