* {
  color: #001D13;
  background-color: rgb(248, 234, 215);
  font-family: 'Comfortaa', cursive;
}

/* 
Royal Blue: #2f5a8d 
Maroon: #611e00
Nude: #ce987b
font-family: 'Abril Fatface', cursive;
font-family: 'Comfortaa', cursive; 
font-family: 'Playfair Display', serif;
*/
